<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemoryMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE712E051E2B74C4001B58CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE712E1E1E2B74C4001B58CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE712E291E2B74C4001B58CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
